@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Pacifico&display=swap");

@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
  color-scheme: light dark;
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
